#menu-0 .navbar-toggler {
  color: #000;
}
#menu-0 .nav-link {
  font-size: 20px;
}
#menu-0 .navbar-brand {
  font-size: 20px;
}
#header4-1 P {
  text-align: left;
}
#footer1-d P {
  color: #000000;
}
